asgiref==3.12.1
boto3==1.43.90
botocore==1.43.90
certifi==2026.7.22
charset-normalizer==3.5.1
Django==6.0.7
django-cors-headers==4.9.0
django-redis==7.0.0
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
google-genai==2.23.0
gunicorn==23.0.0
idna==3.19
jmespath==1.1.0
Pillow==12.3.0
pgvector==0.5.0
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pydantic==2.13.5
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==8.1.0
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0